@{
    ViewData["Title"] = "StudentTeachers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model StudentTeacherVM

@section Heads
    {
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>


}

<div class="container">
    <div class="row mt-1">
        <div class="col">
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#myModal">
                Open
            </button>

            <div class="modal fade" tabindex="-1" id="myModal"
                 aria-labelledby="Exitlabel" aria-hidden="true"
                 data-bs-backdrop="static" data-bs-keyboard="false">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg
                 modal-fullscreen-sm-down">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ExitLabel">Please Select Teachers And Students.</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="kapat"></button>

                        </div>
                        <div class="modal-body px-4">

                            <form>
                                <div class="container">

                                    <div class="row">
                                        <div class="col">

                                            <div class="card" id="teacherCheckBox" style="width: auto;">
                                                <div class="card-body card-bodyscale">
                                                    <h5 class="card-title">Teachers</h5>

                                                    @foreach (var item in Model.teachers)
                                                    {
                                                        <div class="row">

                                                            <div class="col-1">
                                                                <input type="checkbox" class="form-check-input" checked value="@item.Id" id="NameCheckBoxteacher@(item.Id)" />
                                                            </div>

                                                            <div class="col-11">
                                                                <label for="NameCheckBoxteacher@(item.Id)">@item.Name @item.Surname</label><br>
                                                            </div>

                                                        </div>
                                                    }


                                                </div>
                                            </div>

                                        </div>

                                        <div class="col">

                                            <div class="card" id="studentCheckBox" style="width: auto;">
                                                <div class="card-body card-bodyscale">
                                                    <h5 class="card-title">Students</h5>

                                                    @foreach (var item in Model.students)
                                                    {
                                                        <div class="row">
                                                            <div class="col-1">
                                                                <input type="checkbox" class="form-check-input" checked value="@item.Id" id="EmailCheckBox@(item.Id)" />
                                                            </div>
                                                            <div class="col-11">
                                                                <label for="EmailCheckBox@(item.Id)">@item.Name @item.Surname</label><br>
                                                            </div>
                                                        </div>
                                                    }


                                                </div>
                                            </div>


                                        </div>

                                    </div>


                                </div>

                            </form>





                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" id="btnSend" class="btn btn-success" data-bs-dismiss="modal">Accept</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<div class="container">
    <div class="row" id="teachers" style="margin-bottom:30px;">
    </div>

    <div class="row" id="students" style="margin-bottom:30px;">
    </div>

</div>



@section Scripts {
    <script>

        $(document).ready(function () {
            $("#btnSend").click(function () {


                var dataModel =
                {
                    studentIDs: [],
                    teacherIDs: []
                };


                $('#studentCheckBox :checked').each(function () {

                    dataModel.studentIDs.push($(this).val());

                });



                $('#teacherCheckBox :checked').each(function () {

                    dataModel.teacherIDs.push($(this).val());

                });


                $.ajax({
                    url: '/Home/StudentTeachers',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(dataModel),
                    success: function (response) {


                        var t = response.value.teachers;
                        var s = response.value.students;

                        if (t.length > 0)  //teacher
                        {
                            var teachers = '<table>' + '<tr><th colspan="4">Teachers</th></tr>'+
                            '<tr><td>Name</td><td>Surname</td><td>City</td><td>Age</td></tr>';
                            for (var i = 0; i < t.length; i++) {

                                teachers += '<tr><td>' + t[i].name + '</td><td>' + t[i].surname + '</td><td>' + t[i].city + '</td><td>' + t[i].age + '</td></tr>';
                            }

                            teachers += '<table>';

                            $("#teachers").html(teachers);

                        }
                        else {
                            $("#teachers").html("");
                        }

                        if (s.length > 0) //student
                        {
                            var students = '<table>' + '<tr><th colspan="4">Students</th></tr>'+
                            '<tr><td>Name</td><td>Surname</td><td>City</td><td>Age</td></tr>';

                            for (var i = 0; i < s.length; i++) {
                                students += '<tr><td>' + s[i].name + '</td><td>' + s[i].surname + '</td><td>' + s[i].city + '</td><td>' + s[i].age + '</td></tr>';
                            }

                            students += '<table>';

                            $("#students").html(students);


                        }
                        else {
                            $("#students").html("");
                        }

















                    }

                });

            });

        });




    </script>


}